extends layout

block content
  h1= title
  p Are you sure you want to delete this contact?
  hr
  form(action=`/contacts/${contact.contactId}/delete` method='POST')
    button(type='submit') Confirm Delete
    a(href = `/contacts/${contact.contactId}`) Cancel