extends layout

block content
  h1= title
  p Welcome to view my ITMD542 Lab3: #{title}
  a(href='/contacts') View Contacts Database
  p Contact consist of the following Attributes:
  ul
    li Contact ID
    li First Name
    li Last Name
    li Email Address
    li Notes
    li DateCreated
    li DateModified
  h2 My Name: Ming Xie  
  h2 Emai: mxie10@hawk.iit.edu