extends layout

block content
  h1= title
  p Welcome to view my ITMD542 Lab2: #{title}
  a(href='/contacts') Click to view the contact
  p Contact consist of the following data:
  ul
    li Contact ID
    li First Name
    li Last Name
    li Email Address
    li Notes
    li Date/time
  h2 My name: Ming Xie  emai: mxie10@hawk.iit.edu